html {
    box-sizing: border-box;

}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    position: center;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    word-break: break-word;
}